<h1>So many events</h1>

<ul>
  <% @events.each do |event| %>
    <li><%= link_to event.name, event_path(event.id) %></li>
  <% end %>
</ul>


<div>
  <%= link_to 'Create new event', new_event_path %>
</div>

<div>
  <%= link_to 'Create Games', games_path, method: :post %>

</div>
